/*  HEART   */
.heart-anim{
    position: relative;
    font-size: 25px;
    cursor: pointer;

    .empty_heart{
    position: absolute;   
    bottom: 10%;
    right:2%;
    visibility: visible;
    transition: all 1000ms;
    cursor: pointer;
    }
        
    .full_heart{
        display:flex;
        position: absolute;
        visibility: hidden;
        opacity: 0;
        bottom: 10%;
        right:2%;
        cursor: pointer;
        transition: all 1000ms;   
    }
            /* hover   */
    &:hover{
        .empty_heart{
            visibility: hidden;
            opacity: 0;
            z-index:0;
        }
        .full_heart{
            
            visibility: visible;
            opacity: 1;
            z-index:2;
        }
    }
}